@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-white btn btn-lg" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hesabım</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
            <button  class="nav-link text-white btn btn-lg" type="submit">Çıkış Yap</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white btn btn-lg mr-2" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white btn btn-lg" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
    </li>
}
</ul>
